.wrapper-body
  .spacer-left

  .main-content#top-of-page
    #workshop-show-title
      = render(Meeting::TitleComponent.new(meeting: @user_workshop))
    #workshop-show-details
      %table.table.table-striped.table-sm
        %tbody
          = render(Meeting::HeaderBodyComponent.new(meeting: @user_workshop))
          = render(Meeting::MoreBodyComponent.new(meeting: @user_workshop))

    #workshop-show-results
      %table.table.table-striped.table-sm
        - @user_workshop_events.each_with_index do |event_type, index|
          - results = @user_workshop_results.where(event_type_id: event_type.id)
          %thead
            = render(Mevent::RowSeparatorComponent.new) if index.positive? # skip first separator
            %tr{ id: event_type.id }
              %th.mevent-separator{ colspan: 4 }
                %h4= event_type.long_label
            = render(MIR::TableComponent.new(mirs: results))

  .spacer-right
