.wrapper-body
  .spacer-left

  .main-content{ data: { controller: 'switch' } }
    .row-fluid#chrono-new-title
      %h4.text-center.pb-3
        %i.fa.fa-clock-o
        = t('chrono.new.title')

    = form_tag(chrono_rec_path, id: 'frm-chrono-new', method: :post) do
      .container.mb-2
        = render(Switch::XorComponent.new(t('chrono.selector.meeting'), 'meeting',
                 t('chrono.selector.workshop'), 'workshop', hidden_id: 'rec_type', class: 'round'))

      .container.mt-2
        .row
          = render(ComboBox::DbLookupComponent.new(nil, t('meetings.season'), 'season',
                                                   required: true, values: season_options(@seasons)))

      .container.bg-light-green.pt-3.shadow-box#meeting{ data: { 'switch-target' => 'area1' } }
        .row
          = render(ComboBox::DbLookupComponent.new('meetings', t('chrono.selector.meeting'), 'meeting',
                                                   free_text: true, use_2_api: true, values: meeting_options))
      .container.bg-light-blue.pt-3.shadow-box.d-none#workshop{ data: { 'switch-target' => 'area2' } }
        .row
          = render(ComboBox::DbLookupComponent.new('user_workshops', t('chrono.selector.workshop'), 'user_workshop',
                                                   free_text: true, use_2_api: true, values: workshop_options))
      .container.my-2
        .row
          = render(ComboBox::DbSwimmingPoolComponent.new(t('meetings.dashboard.swimming_pool'),
                                                         'swimming_pool', free_text: true, use_2_api: true,
                                                         default_row: @last_chosen_swimming_pool))
          = render(ComboBox::DbLookupComponent.new(nil, t('meetings.dashboard.pool_type'), 'pool_type',
                                                   required: true, values: pool_type_options(@pool_types)))
          = render(ComboBox::DbCityComponent.new(required: true, free_text: true, default_row: @last_chosen_city))

      .container.bg-warning.pt-3.shadow-box
        .row
          .col-auto
            .form-group
              .field
                = label_tag(:event_date, t('chrono.selector.event_date'))
                = date_field_tag(:event_date, cookies[:event_date] || Date.today, required: true,
                                 autofocus: true, class: 'form-control')

          = render(ComboBox::DbLookupComponent.new(nil, t('meetings.event'), 'event_type',
                                                   required: true, values: event_type_options(@event_types)))

      .container.mt-2
        .row
          -# TODO: use t('teams.team') for Meetings & t('chrono.selector.home_team') for Workshops
          = render(ComboBox::DbLookupComponent.new('teams', t('teams.team'), 'team', required: true,
                                                   free_text: true,
                                                   values: team_options(@last_chosen_team, @last_chosen_swimmer)))
          = render(ComboBox::DbSwimmerComponent.new(t('swimmers.swimmer_with_layout'), 'swimmer',
                                                    free_text: true, default_row: @last_chosen_swimmer))
          = render(ComboBox::DbLookupComponent.new(nil, t('meetings.category'), 'category_type',
                                                   required: true, values: category_type_options(@category_types)))

      .container.mt-2.mb-4
        .row
          .col-auto
            = submit_tag(t('chrono.buttons.start_recording'), id: 'btn-rec-chrono', class: 'btn btn-primary',
                         'aria-label' => 'Save', type: 'submit')

  .spacer-right
