.wrapper-body
  .spacer-left

  .main-content{ data: { controller: 'chrono', 'chrono-delete-message' => t('chrono.messages.confirm_delete'),
                 'chrono-reset-message' => t('chrono.messages.confirm_reset'),
                 'chrono-post-message' => t('chrono.messages.confirm_post') } }
    .row-fluid#chrono-rec-title
      %h4.text-center.pb-3
        %i.fa.fa-clock-o
        = t('chrono.rec.title')

    = render(WizardForm::ChronoSummaryComponent.new(swimmer: @adapter&.chrono_swimmer_label,
             event: @adapter&.chrono_event_label, title: @adapter&.chrono_event_container_label,
             pool: @adapter&.chrono_swimming_pool_label, skip_notice: true))

    .row-fluid
      #timer-container
        .timer-leds.led-dark#timer-digits{ data: { 'chrono-target' => 'timer' } }
          00:00.00

    .row-fluid.py-2.text-center
      %button{ id: 'timer-btn-reset', class: 'btn btn-outline-danger', 'aria-label' => 'Reset',
               type: 'button', data: { action: 'click->chrono#reset' } }
        %span
          %i.fa.fa-trash-o
          RESET
      &nbsp;
      %button{ id: 'timer-btn-switch', class: 'btn btn-outline-success', 'aria-label' => 'Start/Stop',
               type: 'button', data: { 'chrono-target' => 'btnSwitch', action: 'click->chrono#startStop' } }
        %span
          %i.fa.fa-play
          START
      &nbsp;
      %button{ id: 'timer-btn-lap', class: 'btn btn-outline-info', 'aria-label' => 'Lap', disabled: true,
               type: 'button', data: { 'chrono-target' => 'btnLap', action: 'click->chrono#lap' } }
        %span
          %i.fa.fa-clock-o
          LAP

    .row-fluid
      .backgrid-container#laps-grid{ data: { 'chrono-target' => 'lapsGrid' } }

    .row-fluid
      %hr/

    .row-fluid.text-center
      = form_tag(chrono_commit_path, id: 'frm-chrono-rec', method: :post, data: { 'chrono-target' => 'mainForm' }) do
        = hidden_field_tag(:json_header, @request_header, data: { 'chrono-target' => 'header' })
        = hidden_field_tag(:json_payload, nil, data: { 'chrono-target' => 'payload' })
        = submit_tag(t('chrono.buttons.save'), id: 'timer-btn-save', class: 'btn btn-primary',
                     'aria-label' => 'Save', disabled: true, type: 'submit',
                     data: { 'chrono-target' => 'btnSave', action: 'click->chrono#save' })
        - if GogglesDb::GrantChecker.admin?(current_user)
          = link_to('#', id: 'btn-download-json', class: 'btn btn-outline-info disabled',
                    'aria-label' => 'Download JSON', data: { 'chrono-target' => 'btnDownloadJSON',
                    action: 'click->chrono#downloadJSON' }) do
            JSON
            %i.fa.fa-download

  .spacer-right
