.wrapper-body
  .spacer-left

  .main-content#top-of-page
    %section#team-swimmers-title
      %h4.text-center= t('teams.dashboard.current_swimmers')
      .text-center#back-to-team-show
        = render(Title::TeamShowLinkComponent.new(team: @team))
    %section.container#data-grid
      .container
        .alert.alert-info.alert-dismissible.fade.show{ role: 'alert' }
          %button.close{ 'aria-label' => 'Close', 'data-dismiss' => 'alert', type: 'button' }
            %span{ 'aria-hidden' => 'true' } ×
          %small
            %i= t('teams.swimmer_list.note')
          %hr/
          %small
            %i= t('teams.swimmer_list.latest_memberships_note', team_name: @team.editable_name)

      .row.my-2
        %ul.nav.nav-tabs
          - @last_affiliations.each do |team_affiliation|
            - active = @team_affiliation&.id == team_affiliation.id
            - swimmers_uri = active ? '#' : team_current_swimmers_path(id: team_affiliation.team_id,
                                            team_affiliation_id: team_affiliation.id)
            %li.nav-item
              %a.nav-link{ href: swimmers_uri, class: active ? 'active' : '' }
                = team_affiliation.season.decorate.short_label
        - if @team_affiliation.present?
          = render(partial: 'swimmer_list', locals: { swimmers: @swimmers, team_affiliation: @team_affiliation,
                   badges: @all_badges_per_type })

    %section.text-center.fixed-bottom#footer
      = link_to('#top-of-page', { data: { turbolinks: false } }) do
        %i.fa.fa-arrow-up

  .spacer-right
