.wrapper-body
  .spacer-left

  .main-content
    .row-fluid#fin-score-title
      %h4.text-center.pb-3
        %i.fa.fa-calculator
        = t('tools.fin_score.title')

    = form_tag(tools_compute_fin_score_path, id: 'frm-fin-score', remote: true, method: :get) do
      .container.bg-warning.ml-2.pt-3.shadow-box
        .row
          .offset-md-2.offset-lg-3
          = render(ComboBox::DbLookupComponent.new(nil, t('meetings.event'), 'event_type',
                                                   required: true, values: event_type_options(@event_types)))
          = render(ComboBox::DbLookupComponent.new(nil, t('meetings.dashboard.pool_type'), 'pool_type',
                                                   required: true, values: pool_type_options(@pool_types)))

      .container.mt-2
        .row
          .col-7
            .form-group
              .field
                = hidden_field_tag('season_id', @last_fin_season&.id)
                = label_tag(:season, t('tools.fin_score.timings_from_season'))
                = text_field_tag(:season, @last_fin_season&.decorate&.display_label,
                                 disabled: true, class: 'form-control text-muted')
          .col-5#record-time-column
            .form-group
              %i= t('tools.fin_score.record_timing_label')
              .mt-2.pt-1
                %b#standard-timing-label

        .row
          = render(ComboBox::DbLookupComponent.new(nil, t('meetings.category'), 'category_type',
                                                   required: true, values: category_type_options(@category_types)))
          .col-auto
            .form-group
              .field
                = label_tag(:gender_type_id, t('swimmers.sex'))
                %b.text-success *
                - gender_type_id = current_user&.swimmer&.gender_type_id || cookies[:gender_type_id]
                - select_opts = options_from_collection_for_select(@gender_types, 'id', 'label', gender_type_id)
                = select_tag(:gender_type_id, select_opts,
                             required: true, autofocus: true, class: 'form-control',
                             onsubmit: "$('.target-score').val(''); return true")

      .row
        .col-auto
          .container.bg-light-blue.ml-2.mt-2.mb-4.py-3.shadow-box
            .row-fluid
              .form-group
                .field
                  = label_tag(:timing, t('tools.fin_score.target_timing.title'))
                  .row
                    .col-auto
                      = number_field_tag(:minutes, 0, in: 0..99, autofocus: true, class: 'form-control target-time')
                    .col-auto
                      = number_field_tag(:seconds, 0, in: 0..59, autofocus: true, class: 'form-control target-time')
                    .col-auto
                      = number_field_tag(:hundredths, 0, in: 0..99, autofocus: true, class: 'form-control target-time')
            .row-fluid.text-center
              = submit_tag(t('tools.fin_score.compute_score.button_label'),
                           id: 'btn-fin-score', class: 'btn btn-primary', 'aria-label' => 'Compute score',
                           type: 'submit', onclick: "$('.target-score').val(''); return true",
                           onsubmit: "$('#loading-indicator').removeClass('d-none'); return true")
        .offset-sm-1
        .col-auto
          .container.bg-light-blue.ml-2.mt-2.mb-4.py-3.shadow-box
            .row-fluid
              .form-group
                .field
                  = label_tag(:score, t('tools.fin_score.compute_score.title'))
                  = number_field_tag(:score, 0, in: 0..9999, autofocus: true, class: 'form-control target-score')
            .row-fluid.text-center
              = submit_tag(t('tools.fin_score.target_timing.button_label'),
                           id: 'btn-fin-timing', class: 'btn btn-primary', 'aria-label' => 'Compute time',
                           type: 'submit', onclick: "$('.target-time').val(''); return true",
                           onsubmit: "$('#loading-indicator').removeClass('d-none'); return true")

    .row-fluid.mb-4
      %small
        %i.form-text.text-center.text-muted#compute-score-disclaimer
          = t('tools.fin_score.compute_note_disclaimer')

  .spacer-right
