%section.container#data-grid
  = datagrid_form_for(grid, method: :get, url: meetings_path)

  .row.my-2#datagrid-top-row
    .col-auto
      #filter-show-btn= render(Grid::FilterShowButtonComponent.new)
    .col
      - filter_labels = grid_filter_to_labels('meetings.dashboard', grid_filter_params)
      - if filter_labels.present?
        %small#filter-labels
          = t('meetings.dashboard.filter')
          &nbsp;
          %span.text-muted= filter_labels
    .col
      #pagination-top= paginate(grid.assets)
    .col-auto
      %small#datagrid-total
        = t('datagrid.total')
        = page_entries_info(grid.assets, entry_name: t('datagrid.rows'))

  = datagrid_table(grid, html: { class: 'table table-hover table-sm' })
  #pagination-bottom= paginate(grid.assets)

%section.text-center.fixed-bottom#footer
  &nbsp;
