-# TODO
- first_mir = @mir_list.includes(:team).first
- goggle_cup = false # first_mir.team.goggle_cup_at?(meeting.header_date)

#swimmer-results-title
  .alert.alert-success#swimmer-header-title
    = render(Title::SwimmerShowLinkComponent.new(swimmer: swimmer))

#swimmer-results-header
  %table.table.table-sm.table-striped.table-hover
    %thead
      %tr
        %th{ colspan: 5 }
          = first_mir.category_type.code
    %tbody
      - @mir_list.each do |mir|
        %tr.text-right
          %td
            = mir.meeting_event.event_type.long_label

          %td
            - can_edit_lap = current_user_is_admin || managed_team_ids.nil? || managed_team_ids.include?(team.id)
            - can_manage = user_signed_in? && current_user.swimmer_id == mir.swimmer_id
            %span{ 'class' => mir.personal_best? ? 'text-success' : '' }
              = mir.to_timing
              = render(Issues::ReportMistakeButtonComponent.new(result_row: mir,
                       can_manage: can_edit_lap || can_manage))

          %td
            - if mir.standard_points.to_f > 800.0
              = tag.small('â­')
            = render(RankingPosComponent.new(rank: mir.rank))

          %td
            - if goggle_cup
              %span{ class: mir.goggle_cup_points.to_f > 800.0 ? 'font-weight-bold' : '' }
                = sprintf("%02.2f", mir.goggle_cup_points.to_f)
            - else
              &nbsp;

          %td
            - if meeting.startlist && meeting.meeting_entries.where(['swimmer_id = ? AND meeting_program_id = ?', mir.swimmer_id, mir.meeting_program_id]).exists?
              = meeting.meeting_entries.where(['swimmer_id = ? AND meeting_program_id = ?', mir.swimmer_id, mir.meeting_program_id]).first.to_timing
            - else
              &nbsp;

  .row
    &nbsp;
