.wrapper-body
  .spacer-left

  .main-content#top-of-page
    = render(partial: 'meeting_header', locals: { meeting: @meeting })
    = render(partial: 'meeting_navs', locals: { meeting: @meeting, active_tab: 'results', can_tap_to_results: @default_team_or_swimmer_in_meeting })

    %section#meeting-show-results{ 'data-turbolinks-permanent' => true }
      %table.table.table-striped.table-sm
        - @meeting_events&.by_order&.each do |meeting_event|
          %thead.mevent-separator{ id: "mevent-#{meeting_event.id}" }
            %tr.text-center
              %th{ colspan: 4 }
                - collapse_target = "loading-mev-#{meeting_event.id}"
                = link_to(meeting_show_event_section_path(meeting_event.id), anchor: collapse_target, method: :get, remote: true,
                          id: "btn-load-mev-#{meeting_event.id}", type: 'button',
                          class: 'btn btn-link', role: 'button', title: t('meetings.tooltip.link.click_to_expand'),
                          data: { tooltip: true, toggle: 'collapse', target: "##{collapse_target}" },
                          'aria-expanded' => false, 'aria-controls' => collapse_target,
                          onclick: "document.querySelector('#loading-indicator').classList.remove('d-none');") do
                  = meeting_event.event_type.long_label

            %tr.collapse.text-center{ id: collapse_target }
              %td{ colspan: 4 }
                %i.text-secondary.fa.fa-spin.fa-2x.fa-cog

      .row
        &nbsp;

  .spacer-right
