.wrapper-body
  .spacer-left

  .main-content#top-of-page
    #meeting-show-title
      = render(Meeting::TitleComponent.new(meeting: @meeting))
    #meeting-show-details
      %table.table.table-striped.table-sm
        %tbody
          = render(Meeting::HeaderBodyComponent.new(meeting: @meeting))
          = render(Meeting::MoreBodyComponent.new(meeting: @meeting))

    / (only 1 modal container per page)
    #lap-edit-modal-container

    #meeting-show-results
      %table.table.table-striped.table-sm
        - @meeting_events&.includes(:event_type, meeting_session: :meeting)&.joins(:event_type,
              meeting_session: :meeting)&.by_order&.each_with_index do |meeting_event, index|
          - prgs_for_event = GogglesDb::MeetingProgram.where(meeting_event_id: meeting_event.id).joins(:meeting_event,
              :event_type, :category_type, :gender_type).includes(:meeting_event, :event_type, :category_type,
              :gender_type).order('category_types.age_begin, gender_types.id DESC')
          %thead
            = render(Mevent::RowSeparatorComponent.new) if index.positive? # skip first separator
            = render(Mevent::RowTitleComponent.new(meeting_event: meeting_event, can_manage: user_signed_in?))
          = render(Mevent::RowLinksComponent.new(meeting_events: @meeting_events))
          - prgs_for_event.each do |mprg|
            = render(Mprg::RowSeparatorComponent.new)
            = render(Mprg::RowLinksComponent.new(meeting_programs: prgs_for_event))
            %thead
              = render(Mprg::RowTitleComponent.new(meeting_program: mprg))
              - if mprg.relay?
                = render(MRR::TableComponent.new(mrrs: mprg.meeting_relay_results.includes(:team)))
              - else
                = render(MIR::TableComponent.new(mirs: mprg.meeting_individual_results.includes(:swimmer, :team),
                         managed_team_ids: @managed_team_ids, current_swimmer_id: @current_swimmer_id))

  .spacer-right
