%footer.bg-light.text-muted.text-center
  .row-fluid
    = link_to(t('contact_us.title'), home_contact_us_path, id: 'href-contact-us')
    &nbsp;|&nbsp;
    = link_to(t('home.privacy_policy.title'), home_about_path(anchor: 'privacy-policy'), id: 'href-privacy-policy')
    &nbsp;|&nbsp;
    = link_to(t('home.about_this'), home_about_path, id: 'href-about')
    &nbsp;|&nbsp;
    = render(Footer::SocialUrlsComponent.new)
  .row-fluid
    %small
      = t('home.copyright_notice')
      %br/
      Goggles v. #{Version::FULL}
