%footer.bg-light.text-muted.text-center
  = link_to(unicode_locale_flag(other_locale_code), home_index_path(locale: other_locale_code),
            id: 'href-locale-switch')
  &nbsp;|&nbsp;
  = link_to(t('contact_us.title'), home_contact_us_path, id: 'href-contact-us')
  &nbsp;|&nbsp;
  = link_to(t('home.issues'), issues_faq_index_path, id: 'href-issues')
  &nbsp;|&nbsp;
  = link_to(t('home.privacy_policy.title'), home_about_path(anchor: 'privacy-policy'), id: 'href-privacy-policy')
  &nbsp;|&nbsp;
  = link_to(t('home.about_this'), home_about_path, id: 'href-about')
  &nbsp;|&nbsp;
  = render(Footer::SocialUrlsComponent.new)
  %br/
  %small
    = t('home.copyright_notice')
    &nbsp;
    v. #{Version::CORE} #{Version::SEMANTIC}
