#meeting-results
  %h5
    = page_entries_info(meetings, entry_name: 'trophy')

  %table.table.table-striped.table-hover.table-condensed.table-sm
    %thead.bg-warning.text-light
      %tr.text-center
        %td{ colspan: 2 }
          %b= I18n.t('meetings.meeting')
        %td
          %b= I18n.t('meetings.header_date')
    %tbody
      - MeetingDecorator.decorate_collection(meetings).each do |meeting|
        %tr
          %td{ colspan: 2 }
            = meeting.link_to_full_name
          %td
            %small
              = meeting.header_year
              %br/
              = meeting.header_year
  %br/
  = paginate(meetings, remote: true)
