#swimming-pool-results
  %h5
    = page_entries_info(pools, entry_name: 'map-marker')

  %table.table.table-striped.table-hover.table-condensed.table-sm
    %thead.bg-info.text-light
      %tr.text-center
        %td{ colspan: 2 }
          %b= I18n.t('pools.pool')
        %td
          %b= I18n.t('pools.city')
    %tbody
      - SwimmingPoolDecorator.decorate_collection(pools).each do |pool|
        %tr
          %td{ colspan: 2 }
            = pool.link_to_full_name
          %td
            %small
              = pool&.city&.name
  %br/
  = paginate(pools, remote: true)
