.form-group.pt-4
  - if controller_name != 'sessions'
    = link_to(t('.sign_in'), new_session_path(resource_name))
    %br/
  - if devise_mapping.registerable? && controller_name != 'registrations'
    = link_to(t('.sign_up'), new_registration_path(resource_name))
    %br/
  - if devise_mapping.omniauthable?
    = google_sign_in_button(class: 'btn btn-primary my-1', proceed_to: users_google_oauth_continue_url) do
      %span#google-login-btn
        = t('.sign_in_with_provider', provider: 'Google')
        %span.px-1
        %i.fa.fa.fa-google
    -# [Steve, 20241021] Disabled Facebook login for the time being:
    -# - resource_class.omniauth_providers.each do |provider|
    -#   = link_to(omniauth_authorize_path(resource_name, provider),
    -#             type: 'button', method: :post, class: 'btn btn-primary my-1', id: "#{provider}-login-btn",
    -#             data: { turbo: false, turbolinks: false, disable_with: t('home.please_wait'), class: 'disabled' }) do
    -#     = t('.sign_in_with_provider', provider: provider.to_s.split('_').first.titleize)
    -#     %span.px-1
    -#       :ruby
    -#         case provider
    -#         when :facebook
    -#           icon = 'facebook-square'
    -#         when :twitter
    -#           icon = 'twitter-square'
    -#         end
    -#       %i.fa.fa{ class: "fa-#{icon}" }
    -#   %br/
  %small
    - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
      = link_to(t('.forgot_your_password'), new_password_path(resource_name), id: 'forgot-pwd-link')
      %br/
    - if devise_mapping.confirmable? && controller_name != 'confirmations'
      = link_to(t('.didn_t_receive_confirmation_instructions'), new_confirmation_path(resource_name),
                id: 'new-confirmation-link')
      %br/
    - if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
      = link_to(t('.didn_t_receive_unlock_instructions'), new_unlock_path(resource_name), id: 'unlock-link')
      %br/
    - if controller_name != 'unlocks'
      = link_to(t('devise.customizations.reactivation.link_to_instructions'), home_reactivate_path, id: 'reactivate-link')
      %br/
