%section#tab-form-2b1
  .row-fluid.my-2
    %ul.nav.nav-tabs
      %li.nav-item#type1b1-nav-item
        = link_to(t('issues.type1b1.form.tab_label'), issues_new_type1b1_path(result_id: result_row.id,
                  result_class: result_row.class.name), class: 'nav-link')
      %li.nav-item#type2b1-nav-item
        .nav-link.active
          = t('issues.type2b1.form.tab_label')

  .row-fluid.mt-4
    = form_tag(issues_create_type2b1_path, id: 'frm-type2b1', method: :post) do
      = hidden_field_tag(:result_id, result_row.id)
      = hidden_field_tag(:result_class, result_row.class.name.split('::').last)
      - parent_meeting = result_row.respond_to?(:meeting) ? result_row.meeting : result_row.parent_meeting
      .bg-light-yellow.p-3.shadow-box
        .row-fluid
          %h4.text-center
            %i.fa.fa-trophy
            = render(Meeting::LabelComponent.new(meeting: parent_meeting))

        .row-fluid.text-center
          = parent_meeting.decorate.header_date
        .row-fluid.mb-3.pt-2
          .custom-control.custom-checkbox
            = check_box_tag(:wrong_meeting, '1', false, class: 'custom-control-input')
            = label_tag(:wrong_meeting, t('issues.type2b1.form.wrong_meeting_label'), class: 'custom-control-label')
        .row-fluid.mb-3.pt-2
          .custom-control.custom-checkbox
            = check_box_tag(:wrong_event, '1', false, class: 'custom-control-input')
            = label_tag(:wrong_event, t('issues.type2b1.form.wrong_event_label'), class: 'custom-control-label')

        - if result_row.respond_to?(:swimmer)
          .row-fluid.pt-2.mb-0
            %h5
              %b
                #{result_row.swimmer.complete_name}
                &nbsp;-&nbsp;
                #{result_row.event_type.label} #{result_row.gender_type.label}
          .row-fluid.mb-3
            .custom-control.custom-checkbox
              = check_box_tag(:wrong_swimmer, '1', false, class: 'custom-control-input')
              = label_tag(:wrong_swimmer, t('issues.type2b1.form.wrong_swimmer_label'), class: 'custom-control-label',
                          onclick: "document.querySelector('#wrong_team').checked = false;")

        - if result_row.respond_to?(:team)
          .row-fluid.pt-2.mb-0
            %b= result_row.team.editable_name
          .row-fluid.mb-3
            .custom-control.custom-checkbox
              = check_box_tag(:wrong_team, '1', false, class: 'custom-control-input')
              = label_tag(:wrong_team, t('issues.type2b1.form.wrong_team_label'), class: 'custom-control-label',
                          onclick: "document.querySelector('#wrong_swimmer').checked = false;")

        .form-row.px-3.mb-2
          .form-group.col-12.col-lg-3.pt-2.mt-1.mb-0
            = label_tag(:minutes, t('issues.type1b.form.result_label'))
          .form-group.col-4.col-md-3.col-lg-2.mb-1
            .input-group.mt-1
              = number_field_tag(:minutes, result_row.minutes, min: 0, max: 120, disabled: true,
                                type: 'number', class: 'form-control font-90rem text-right')
              .form-control-sm.ml-1.p-1
                %b= '\''
          .form-group.col-4.col-md-3.col-lg-2.mb-1
            .input-group.mt-1
              = number_field_tag(:seconds, result_row.seconds, min: 0, max: 59, disabled: true,
                                type: 'number', class: 'form-control font-90rem text-right')
              .form-control-sm.ml-0.p-1
                %b= '"'
          .form-group.col-4.col-md-3.col-lg-2.mb-1
            .input-group.mt-1
              = number_field_tag(:hundredths, result_row.hundredths, min: 0, max: 99, disabled: true,
                                type: 'number', class: 'form-control font-90rem text-right')

        .form-row.mb-2
          .form-group.col.mx-3
            = label_tag(:other_notes, t('issues.type1b1.form.other_notes'))
            %br/
            = text_area_tag(:other_notes, nil, rows: 3, autofocus: true, class: 'form-control',
                            'aria-describedby' => 'other notes',
                            placeholder: t('issues.type1b1.form.other_notes_placeholder'))

      .form-group.mt-2.col-auto
        .actions
          = submit_tag(t('issues.generic_send_btn'), id: 'issues-type2b1-post-btn', class: 'btn btn-primary',
                      data: { confirm: t('issues.ask_confirmation') })
