.wrapper-body
  .spacer-left

  .main-content#top-of-page
    %section#issues-faq-title
      = render(Title::BreadCrumbLinkComponent.new(title: t('issues.faq_title'),
               css_icon: 'frown-o', parent_title: t('home.issues'),
               parent_link: root_path))

    %section#faq-index-navs
      .row-fluid.my-2
        %ul.nav.nav-tabs
          %li.nav-item
            .nav-link.active
              = t('issues.faq_title')
          %li.nav-item
            = link_to(t('issues.my_reports_title'), issues_my_reports_path, class: 'nav-link')

    .container.mt-2
      #accordion
        = render('type1_issues')
        = render('type2_issues')
        = render('type3_issues')
        .card
          .card-header#title-type4
            %h5.mb-0
              %button.btn.btn-link.text-left.collapsed{ 'aria-controls' => 'body-type4', 'aria-expanded' => 'false',
                                                        'data-target' => '#body-type4', 'data-toggle' => 'collapse' }
                = t('issues.type4.label')
          .collapse#body-type4{ 'aria-labelledby' => 'title-type4', 'data-parent' => '#accordion' }
            .card-body
              %p= t('issues.type4.description1')
              = render('form_type4')

    .row-fluid
      %p &nbsp;

    .row-fluid.text-center
      %p
        = link_to(t('about.go_back'), root_path)
        |
        = link_to(t('issues.anything_else'), home_contact_us_path, id: 'href-contact-us')

    .row-fluid
      %p &nbsp;

  .spacer-right
