%tr.collapse{ id: dom_id }
  %td.text-muted.text-right{ colspan: 1 }
    %small
      = @relay_swimmer.stroke_type&.label
      - if @relay_swimmer.reaction_time > 0.0
        %br/
        .text-muted
        R: #{@relay_swimmer.reaction_time}

  %td.text-left{ colspan: 3 }
    %small{ id: "detail-mrs#{@relay_swimmer.id}" }
      - if Rails.env.development?
        ID: #{@relay_swimmer.id}&nbsp;
      %i.text-muted
        #{SwimmerDecorator.decorate(swimmer).link_to_results(meeting.id)}
      %small= swimmer_year_and_age_label
      %br/
      - if @relay_swimmer.relay_laps.present?
        %ul.pl-0
          - @relay_swimmer.relay_laps.by_distance.each do |sub_lap|
            %li{ id: "detail-rl#{sub_lap.id}" }
              #{sub_lap.to_timing} Δ
              &nbsp;
              %i.fa.fa-long-arrow-right
              &nbsp;
              #{sub_lap.timing_from_start} ⏱
              %small
                #{sub_lap.length_in_meters} m
          %li
            #{@relay_swimmer.to_timing} Δ
            &nbsp;
            %i.fa.fa-long-arrow-right
            &nbsp;
            #{timing_from_start} ⏱
            %small
              #{@relay_swimmer.length_in_meters} m

      - else
        #{@relay_swimmer.to_timing} Δ
        &nbsp;
        %i.fa.fa-long-arrow-right
        &nbsp;
        #{timing_from_start} ⏱
        %small
          #{@relay_swimmer.length_in_meters} m
