%tbody
  %tr
    %td.text-right
      = render(RankingPosComponent.new(rank: rank))
    %td.text-right
      = @mir.to_timing.to_s
      - if includes_laps? || @mir.reaction_time > 0.0
        %br/
      - if @mir.reaction_time > 0.0
        %small.text-muted
          R: #{@mir.reaction_time}
      = render(Switch::RotatingComponent.new(target_id: "laps#{@mir.id}")) if includes_laps?
    %td
      = swimmer&.complete_name
      %br/
      %small.text-muted
        = swimmer&.year_of_birth
        - if team
          %i
            &nbsp;-&nbsp;#{TeamDecorator.decorate(team).link_to_full_name}
        - elsif swimming_pool
          &nbsp;-&nbsp;#{SwimmingPoolDecorator.decorate(swimming_pool).link_to_full_name}
    %td
      .text-muted
        = result_score

- if includes_laps?
  = render(Laps::TableComponent.new(laps: laps))
