%tbody.result-table-row{ id: "mir#{@mir.id}" }
  %tr
    %td.text-right
      = render(RankingPosComponent.new(rank: rank))
    %td.text-right.pl-0
      - if @mir.reaction_time > 0.0
        %small.text-muted
          R: #{@mir.reaction_time}
        &nbsp;
      = @mir.to_timing.to_s
      %br/
      = render(Switch::RotatingComponent.new(target_id: "laps#{@mir.id}")) if includes_laps?
      = render(Laps::EditButtonComponent.new(parent_result: @mir, can_manage: @lap_edit))
      = render(Issues::ReportMistakeButtonComponent.new(result_row: @mir, can_manage: @report_mistake))
    %td
      = SwimmerDecorator.decorate(swimmer).link_to_results(meeting_id)
      %br/
      %small.text-muted
        = swimmer&.year_of_birth
        - if team
          %i
            &nbsp;-&nbsp;#{TeamDecorator.decorate(team).link_to_results(meeting_id)}
        - elsif swimming_pool
          &nbsp;-&nbsp;#{SwimmingPoolDecorator.decorate(swimming_pool).link_to_full_name}
    %td
      .text-muted
        = result_score

- if includes_laps?
  = render(Laps::TableComponent.new(laps: laps))
