%tr#laps-result-row
  %td{ scope: 'col' }
    .form-row.my-0
      .col-12.col-md-3.col-lg-2.mb-1
        .input-group
          = number_field_tag('tot_length', parent_result.event_type.length_in_meters,
                             disabled: true, type: 'number',
                             class: 'form-control form-control-sm col-5 text-right')
          .form-control-sm.ml-1.p-1
            %small
              %b= 'm.'
      .col-4.col-md-3.col-lg-2.mb-1
        .input-group
          = number_field_tag('tot_minutes', parent_result.minutes,
                             disabled: true, type: 'number',
                             class: 'form-control form-control-sm text-right')
          .form-control-sm.ml-1.p-1
            %b= '\''
      .col-4.col-md-3.col-lg-2.mb-1
        .input-group
          = number_field_tag('tot_seconds', parent_result.seconds,
                             disabled: true, type: 'number',
                             class: 'form-control form-control-sm text-right')
          .form-control-sm.ml-0.p-1
            %b= '"'
      .col-4.col-md-3.col-lg-2.mb-1
        .input-group
          = number_field_tag('tot_hundredths', parent_result.hundredths,
                             disabled: true, type: 'number',
                             class: 'form-control form-control-sm text-right')
          .form-control-sm.ml-1.p-1
            &nbsp;
      .col.my-1.text-right
        %span.ml-2#result-row-delta
