.wrapper-body
  .spacer-left

  .main-content
    .row-fluid.m-4
      %turbo-frame#forgot-pwd-box
        %h2= t('.forgot_your_password')
        = form_for(resource, as: resource_name,
                  url: password_path(resource_name),
                  html: { method: :post }) do |f|
          = render('devise/shared/error_messages', resource: resource)
          .bg-light-blue.p-1.pt-3.shadow-box
            .form-group.col-auto
              %i= f.label(:send_button, t('.send_me_reset_password_instructions'))
            .form-group.field.col-md-7.col-sm-12
              = f.label(:email, t('activerecord.attributes.goggles_db/user.email'))
              %br/
              = f.email_field(:email, autofocus: true, autocomplete: 'email',
                              class: 'form-control', 'aria-describedby' => 'email-help',
                              placeholder: t('users.placeholders.email'))
            .form-group.actions.col-md-7.col-sm-12
              = f.submit(t('devise.customizations.send_request_button'), id: 'send-request-btn',
                         class: 'btn btn-primary')

    .row-fluid.mx-4
      = render('devise/shared/links')

  .spacer-right
