%tbody.result-table-row{ id: "mrr#{@mrr.id}" }
  %tr
    %td.text-right
      = render(RankingPosComponent.new(rank:, dsq_notes: @mrr.disqualification_notes))
      = render(Switch::RotatingComponent.new(target_id: "laps#{@mrr.id}")) if mrs.present?
    %td.text-right.pl-0
      - if @mrr.reaction_time > 0.0
        %small.text-muted
          R: #{@mrr.reaction_time}
        &nbsp;
      = @mrr.to_timing
      %br/
      = render(RelayLaps::EditButtonComponent.new(relay_result: @mrr, can_manage: @lap_edit))
      = render(Issues::ReportMistakeButtonComponent.new(result_row: @mrr, can_manage: @report_mistake))
    %td
      %span.team-result-link
        #{TeamDecorator.decorate(team).link_to_results(meeting_id)},
      %small (#{relay_name} #{@mrr.category_type.short_name})
    %td
      .text-muted.text-right
        = Kernel.format('%2.2f', result_score) if result_score.present?

= render(RelayLaps::TableComponent.new(relay_swimmers: mrs)) if mrs.present?
