= render(ComboBox::AutocompleteComponent.new(api_url: 'cities', label: t('swimming_pools.city'), base_name: 'city',
         required: @required, free_text: @free_text, bound_query_param: 'country_code',
         wrapper_class: @wrapper_class, values: value_options,
         selected_id: @default_row&.id, selected_label: @default_row&.name))
.col-auto
  .form-group
    .field
      = label_tag(:city_area, t('swimming_pools.area_code'))
      = text_field_tag('city_area', @default_row&.area, autofocus: true, required: true, class: 'form-control')
.col-3
  .form-group
    .field
      = label_tag(:city_country_code, t('swimming_pools.country_code'))
      = text_field_tag('city_country_code', @default_row&.country_code || 'IT', maxlength: 3, required: true,
                       autofocus: true, class: 'form-control')
