%div{ class: @wrapper_class, data: { controller: 'lookup', 'lookup-placeholder-value' => placeholder_text,
      'lookup-api-url-value' => @api_url,
      'lookup-field-base-name-value' => @base_name,
      'lookup-free-text-value' => @free_text,
      'lookup-query-column-value' => @query_column,
      'lookup-bound-query-value' => @bound_query_param,
      'lookup-api-url2-value' => @api_url2 } }
  .form-group
    .field
      = hidden_field_tag("#{@base_name}_id", nil)
      = hidden_field_tag("#{@base_name}_label", nil)
      = label_tag(@base_name, @label)
      %b.text-danger{ id: "#{@base_name}-presence" } *
      %select.select2{ id: "#{@base_name}_select", autofocus: true, required: @required,
                      data: { 'lookup-target' => 'field' } }
        - if @values.present?
          = @values
