%div{ class: @wrapper_class, data: { controller: 'lookup', 'lookup-placeholder-value' => placeholder_text,
      'lookup-api-url-value' => @api_url,
      'lookup-field-base-name-value' => @base_name,
      'lookup-free-text-value' => @free_text,
      'lookup-query-column-value' => @query_column,
      'lookup-api-url2-value' => @api_url2 } }
  .form-group
    .field
      = hidden_field_tag("#{@base_name}_id", @default_row&.id)
      = hidden_field_tag("#{@base_name}_label", @default_row&.text_label)
      = hidden_field_tag("#{@base_name}_complete_name", @default_row&.complete_name)
      = hidden_field_tag("#{@base_name}_first_name", @default_row&.first_name)
      = hidden_field_tag("#{@base_name}_last_name", @default_row&.last_name)
      = label_tag(@base_name, @label)
      %b.text-danger{ id: "#{@base_name}-presence" } *
      %select.select2{ id: "#{@base_name}_select", autofocus: true, required: @required,
                       data: { 'lookup-target' => 'field' } }
        = preselected_option
.col-4
  .form-group
    .field
      = label_tag("#{@base_name}_year_of_birth", t('swimmers.age_class'))
      = number_field_tag("#{@base_name}_year_of_birth", @default_row&.year_of_birth, min: 1910,
                         max: Time.zone.today.year, required: @required, autofocus: true, class: 'form-control')
.col-4
  .form-group
    .field
      = label_tag(:gender_type_id, t('swimmers.sex'))
      = select_tag(:gender_type_id, gender_type_options, required: true, autofocus: true,
                   class: 'form-control')
