%h5.mx-2.text-left= t('contributing.title')
%ul
  %li.my-1.mr-3= t('contributing.point_1').html_safe
  %li.my-1.mr-3= t('contributing.point_2').html_safe
  %ul
    %li
      %i.fa.fa-github
      = link_to('Goggles (Main)', 'https://github.com/steveoro/goggles_main#contributing')
  %li.my-1.mr-3= t('contributing.point_3').html_safe
  %ul
    %li
      %i.fa.fa-link
      = link_to('OpenCollective', 'https://opencollective.com/master-goggles')
    %li
      %i.fa.fa-paypal
      = link_to('PayPal', 'https://paypal.me/StefanoAlloro')
    -# Patreon disabled for the time being because it requires too much
    -# online activity for my actual allotted time (it's for "digital creators")
    -# %li
    -#   %i.fa.fa-link
    -#   = link_to('Patreon', 'https://patreon.com/steveoro')
