%h4.text-center= t('faq.title')
%ol
  %li.my-1.mr-3
    %p= t('faq.q_1').html_safe
    %p= t('faq.a_1').html_safe
  %li.my-1.mr-3
    %p= t('faq.q_1b').html_safe
    %p= t('faq.a_1b').html_safe
  %li.my-1.mr-3
    %p= t('faq.q_2').html_safe
    %p= t('faq.a_2').html_safe
  %li.my-1.mr-3
    %p= t('faq.q_2a').html_safe
    %p= t('faq.a_2a').html_safe
  %li.my-1.mr-3
    %p= t('faq.q_3').html_safe
    %p= t('faq.a_3').html_safe
  %li.my-1.mr-3
    %p= t('faq.q_4').html_safe
    %p= t('faq.a_4').html_safe
    %p= t('faq.a_4b').html_safe
  %li.my-1.mr-3
    %p= t('faq.q_5').html_safe
    %p= t('faq.a_5').html_safe
  %li.my-1.mr-3
    %p= t('faq.q_6').html_safe
    %p= t('faq.a_6').html_safe
    %p= t('faq.a_6b').html_safe
    %p= t('faq.a_6c').html_safe
  %li.my-1.mr-3
    %p= t('faq.q_7').html_safe
    %p= t('faq.a_7').html_safe
  %li.my-1.mr-3
    %p= t('faq.q_8').html_safe
    %p= t('faq.a_8').html_safe
