%h5.mx-2.text-left= t('how_does_it_work.title')
%ul
  %li.my-1.mr-3= t('how_does_it_work.point_1').html_safe
  %li.my-1.mr-3= t('how_does_it_work.point_2').html_safe
  %li.my-1.mr-3= t('how_does_it_work.point_3').html_safe
  %li.my-1.mr-3= t('how_does_it_work.point_4').html_safe
  %li.my-1.mr-3= t('how_does_it_work.point_5').html_safe
