.row.mt-2
  .col-sm
    %li
      = calendar&.scheduled_date
      - if calendar&.meeting
        - city_name = calendar.meeting && calendar.meeting.swimming_pools ? calendar.meeting.swimming_pools.first&.city&.name : calendar.meeting_place
        = MeetingDecorator.decorate(calendar.meeting).link_to_full_name
        %i
          = ' - '
          = city_name
      - else
        = calendar&.meeting_name
        %i
          = ' - '
          = calendar&.meeting_place
      - if calendar&.updated_at
        &nbsp;
        %small
          %i
            = t('calendars.updated_calendars.updated_at')
            = I18n.l(calendar.updated_at.to_date)
