%h4.text-center
  = t('calendars.updated_calendars.title', total: updated_calendars&.count)
%ul.pl-3
  - if updated_calendars.blank?
    %i= t('calendars.updated_calendars.no_recent_updates')
  - updated_calendars&.first(initial_rows)&.each do |calendar|
    = render(partial: 'updated_calendar_row', locals: { calendar: })

  - if updated_calendars.present? && updated_calendars.count > initial_rows
    .collapse.switchable-label-collapse#updated-calendars-more{ 'aria-labelledby' => 'updated-calendars-more',
                                                                'data-parent' => '#updated-calendars' }
      - updated_calendars&.to_a&.from(initial_rows)&.each do |calendar|
        = render(partial: 'updated_calendar_row', locals: { calendar: })
    %p.row.my-3
      %button.btn.btn-outline-primary.collapsed{ 'aria-controls' => 'updated-calendars-more',
                                                 'aria-expanded' => 'false',
                                                 'data-target' => '#updated-calendars-more',
                                                 'data-toggle' => 'collapse' }
        %span
          = t('home.show_label')
          %i.fa.fa-plus#show-more-or-less
