.wrapper-body
  .spacer-left

  .main-content
    .row-fluid.m-4
      #unlock-account-box
        %h2= t('devise.customizations.reactivation.title')
        - user = GogglesDb::User.new
        = form_for(user, url: home_reactivate_path, html: { method: :post }) do |f|
          .bg-light-blue.p-1.pt-3.shadow-box
            .form-group.col-auto
              %i= t('devise.customizations.reactivation.link_to_instructions')
            .form-group.field.col-md-7.col-sm-12
              = f.label(:email, t('activerecord.attributes.goggles_db/user.email'))
              %br/
              = f.email_field(:email, autofocus: true, autocomplete: 'email',
                              class: 'form-control', 'aria-describedby' => 'email-help',
                              placeholder: t('users.placeholders.email'))
            .form-group.actions.col-md-7.col-sm-12
              = f.submit(t('devise.customizations.send_request_button'), id: 'send-request-btn',
                           class: 'btn btn-primary')

    -# .row-fluid.mx-4
    -#   = render('devise/shared/links', locals: { resource_name: 'user' })

  .spacer-right
