- deco_pool = SwimmingPoolDecorator.decorate(@swimming_pool)

.wrapper-body
  .spacer-left

  .main-content
    .row-fluid.m-4
      %turbo-frame#swimming-pool-show
        %h2 SwimmingPool#show
        %p
          = deco_pool.name
          = deco_pool.link_to_maps_or_name
        %p
          = deco_pool.to_json
        %ul
          %li
            Prova 1 ✅
          %li
            Prova 2 ❌
          %li= check_mark_icon_for(true)
          %li= check_mark_icon_for(false)

  .spacer-right
