%h1
  = image_tag('goggles_blue_128.png')
  %br/
  Master-Goggles
%h2
  .animated.infinite.flash= I18n.t('maintenance.title')
%h2
  .text-acqua= GogglesDb::Version::EMOJI_STRONGMAN
%p.text-center.text-acqua
  = I18n.t('maintenance.working_on_new_version_back_during_year')
%p.centered-greet
  = I18n.t('maintenance.see_u_soon')

%small.fixed-bottom.text-center
  Goggles v. #{Version::FULL}
  &nbsp;
  = I18n.t('home.copyright_notice')
