.wrapper-body
  .spacer-left

  .main-content
    .row-fluid.m-4
      #login-box
        %h2= t('.sign_in')
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .bg-light-blue.p-1.pt-3.shadow-box
            .form-group.field.col-md-7.col-sm-12
              = f.label(:email, t('activerecord.attributes.goggles_db/user.email'))
              %br/
              = f.email_field(:email, autofocus: true, autocomplete: 'email',
                              class: 'form-control', 'aria-describedby' => 'email-help',
                              placeholder: t('users.placeholders.email'))
              %small
                %i.form-text.text-muted#email-help
                  = t('devise.customizations.we_wont_share_emails_with_noone')
            .form-group.field.col-md-7.col-sm-12
              = f.label(:password, t('activerecord.attributes.user.password'))
              %br/
              = f.password_field(:password, autocomplete: 'current-password',
                                class: 'form-control', placeholder: 'password')
            - if devise_mapping.rememberable?
              .form-group.col-md-7.col-sm-12
                .form-check.field
                  = f.check_box(:remember_me, class: 'form-check-input')
                  = f.label(t('activerecord.attributes.user.remember_me'), class: 'form-check-label')
            .form-group.actions.col-md-7.col-sm-12
              = f.submit(t('.sign_in'), id: 'login-btn', class: 'btn btn-primary')

    .row-fluid.mx-4
      = render('devise/shared/links')

  .spacer-right
