- swimmer = SwimmerDecorator.decorate(@swimmer)
.wrapper-body
  .spacer-left

  .main-content#top-of-page
    #swimmer-show-title
      %h4.text-center.pb-3
        %i.fa.fa-user
        %small
          %i.text-muted= t('swimmers.radiography.subtitle')
    %section.container#swimmer-show-details
      %table.table.table-striped.table-sm
        %thead
          %tr
            %td{ id: 'full-name', scope: 'row', colspan: 2, class: 'bg-primary text-center text-light' }
              %b= swimmer.complete_name
        %tbody
          %tr
            %th{ scope: 'row' }= t('swimmers.birth_year_and_age')
            %td{ id: 'year-of-birth' }
              #{swimmer.year_of_birth} (~#{swimmer.age})
          %tr
            %th{ scope: 'row' }= t('swimmers.current_category')
            %td{ id: 'curr-cat-code' }
              #{swimmer.latest_category_type&.code} - #{swimmer.gender_type.label}
          %tr
            %th{ scope: 'row' }= t('swimmers.radiography.last_registered_category')
            %td{ id: 'last-cat-code' }
              = swimmer.last_category_type_by_badge&.code
          %tr
            %th{ scope: 'row' }= t('swimmers.affiliated_with')
            %td{ id: 'team-links' }
              = swimmer.link_to_teams(100) # limit names to 100 chars

    %section.container#swimmer-buttons
      .row-fluid.my-2
        %a.my-1.btn.btn-outline-primary#btn-stats{ href: swimmer_history_recap_path(@swimmer) }
          %i.fa.fa-line-chart
          = t('home.dashboard.history_btn')
        %a.my-1.btn.btn-outline-primary#btn-meetings{ href: meetings_for_swimmer_path(@swimmer) }
          %i.fa.fa-trophy
          = t('swimmers.radiography.all_meetings')
        %a.my-1.btn.btn-outline-primary#btn-workshops{ href: user_workshops_for_swimmer_path(@swimmer) }
          %i.fa.fa-group
          = t('swimmers.radiography.all_workshops')

    - if @stats.result.present?
      %section.container.my-2#swimmer-stats
        .row-fluid
          %table.table.table-striped.table-sm
            %tbody
              = render(partial: 'swimmer_stats', locals: { stat: @stats.result })

  .spacer-right
