<%= turbo_stream.replace('lap-edit-modal-contents') do %>
  <%= render(RelayLaps::EditModalContentsComponent.new(relay_result: @relay_result)) %>
<% end %>

<%= turbo_stream.replace('lap-modal-alert') do %>
  <div class="alert <%= @alert_class %> mx-auto m-0 px-2 py-0" id="lap-modal-alert" role="alert">
    <small id="lap-modal-alert-text"><%= @alert_msg %></small>
  </div>
<% end %>

<%= turbo_stream.replace("mrr#{@relay_result.id}") do %>
  <%= render(
    MRR::TableRowComponent.new(
      mrr: @relay_result,
      lap_edit: @lap_edit,
      report_mistake: @report_mistake
    )
  ) %>
<% end %>

<%= turbo_stream.replace("laps-show#{@relay_result.id}") do %>
  <%= render(RelayLaps::TableComponent.new(relay_swimmers: @relay_result.meeting_relay_swimmers)) %>
<% end %>
