= render('goggles/inline_mailer_styles')
.shadow-box
  = render('goggles/shared_mailer_title')
  %p.centered
    = t('.greeting', recipient: @resource.email)
    &nbsp;٩( ▀ ͜͞ʖ▀)۶
  %p= t('.instruction')
  %p.centered
    = link_to t('.action'), edit_password_url(@resource, reset_password_token: @token)
  %p= t('.instruction_2')
  %p= t('.instruction_3')
