- content_for(:template_subtitle) do
  = t('.greeting', recipient: @resource.email)
  &nbsp;٩( ▀ ͜͞ʖ▀)۶
%p= t('.instruction')
%p.centered
  = link_to t('.action'), edit_password_url(@resource, reset_password_token: @token)
%p= t('.instruction_2')
%p= t('.instruction_3')
